@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&family=IM+Fell+DW+Pica&family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;

    font-size: 62.5%; /* 1rem = 10px */ 
}

body{
    width: 100%;
    height: 100%;
    background-image: url('/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    font-family: 'cutive mono';
}

html{
    height: 100%;
}

button{
    border: none;
}

#app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main{
    width: 100%;
    height: 100%;
    display: flex; 
}




/*>>>>>>>>>>>>>>>>>>  HEADER AND CHILD ELEMENTS   <<<<<<<<<<<<<<<<<<<*/
.header{
    height: 6vh;
    min-height: 6vh;
    width: 100%;
    display: flex;
    padding: 0 3vw;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.842);
    color: white;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'major mono display';
    font-size: 5vh;
}

.logo p{
    padding-bottom: .25vh;
}

.menu-icon-wrapper, .menu-icon-wrapper-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    margin: 0 3vw 0 .4vw;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}

.menu-icon-wrapper-mobile{
    display: none;
}

.menu-icon{
    width: 70%;
    height: 90%;  
}

.menu-icon-wrapper:hover, .menu-icon-wrapper-mobile:hover{
    background-color: rgba(107, 107, 107, 0.507);
}

.menu-icon-wrapper:active, .menu-icon-wrapper-mobile:active{
    background-color: rgba(43, 43, 43, 0.507);
}
/*>>>>>>>>>>>>>>>>>>  --------  <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  SIDEBAR / SIDEBAR-MOBILE AND CHILD ELEMENTS   <<<<<<<<<<<<<<<<<<<*/
.sidebar, .sidebar-mobile{  
    display: block;
    height: 100%;
    width: 26vw;
    max-width: 34vh;
    background-color: rgba(66, 66, 66, 0.685);
    transition: transform 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
}

.sidebar-mobile{
    display: none;
}

.sidebar-top-wrapper{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-project-btn-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 18%;  
    margin-bottom: 20%;
}

.add-project-btn{
    font-size: 1.6vh;
    font-family: 'cutive mono';
    width: 75%;
    height: 60%;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 5px;
    user-select: none;
    font-weight: 600;
    cursor: pointer;
}

.add-project-btn:hover{
    background-color: rgb(65, 65, 65);
}

.new-project-btns{
    width: 100%;
    height: 100%;
    display: flex;
    gap: .5vh;
}

.new-project-add-btn, .new-project-cancel-btn{
    width: 100%;
    height: 100%;
}

.add-btn, .cancel-btn{
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 3px;
    outline: 0;
    font-size: 1.3rem;
    font-family: 'cutive mono';
    background-color: rgb(27, 143, 27);
    color: white;
    cursor: pointer;
}

.cancel-btn{
    background-color: rgb(139, 32, 32);
}

.add-btn:hover{
    background-color: rgb(34, 170, 34);
} 

.cancel-btn:hover{
    background-color: rgb(173, 34, 34);
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 50%;
    width: 75%;
    gap: 1.6vh;
}

.projects-title{
    font-size: 2vh;
    color: white;
    font-family: 'cutive';
}

.projects-list{
    height: fit-content;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    padding: 1vh 0 1vh 0;
    font-family: 'cutive mono';
    font-size: 4vh;
    font-weight: 500;
    color: white;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 3.5vh;
    padding: 0 1vh 0 1vh;
    border-radius: 3px;
    cursor: pointer;
}

.project-name{
    pointer-events: none;
}

.projects:hover{
    background-color: #444;
}

.highlighted-project{
    background-color: #444;
    font-weight: 600;
    border-left: 2px solid white;
}     

.new-project{
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: .5vh;
}

.new-project-name{
    width: 100%;
    height: 100%;

}

.new-project-name-input, .new-task-name-input{
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 3px;
    outline: 0;
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
    color: white;
    font-size: 2vh;
    font-weight: 600;
    background-color: #444;
}

.social-links{
    display: flex;
    gap: 1.6rem;
    font-family: 'cutive mono';
    font-weight: 100;
}

.github, .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    font-size: 1.4vh;
}

.github:hover, .linkedin:hover{
    transform: scale(1.1);
    font-weight: 600;
}

.github-icon, .linkedin-icon{
    width: 2.6vh;
}

.my-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*>>>>>>>>>>>>>>>>>>  --------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  MAIN CONTENT AND CHILD ELEMENTS   <<<<<<<<<<<<<<<<<<<*/
.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;    
}

.content{    
    overflow: auto;
    width: 90%;
    height: 90%;
    max-height: 85vh;
    padding: 2.8vw;
    border-radius: 5px;
    background-color: rgba(66, 66, 66, 0.685);
    padding-bottom: 10vw;
}

.selected-project{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.selected-project-title{
    font-size: 3.6vh;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.selected-project-tasks{
    display: flex;
    flex-direction: column;
    gap: .8vh;
}

.tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2vh 0 2.2vh;
    width: 100%;
    height: 3.8vh;
    color: white;
    border-radius: 5px;
    background-color: rgba(66, 66, 66, 0.63);
}

.tasks:hover{
    background-color: rgba(49, 49, 49, 0.63);
}

.task-left-side, .task-right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.4vh;
}

.task-right-side{
    gap: 4vh;
}

.task-checkbox{
    width: 2.2vh;
    height: 2.2vh;
    border-radius: 50%;
    border: .3vh outset white;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.task-checkbox:hover{
    border: .4vh outset white;
}

.task-checkbox:checked{
    background-image: url('/checked-icon.png');
    background-size: 100%;  
    background-color: rgb(27, 143, 27);
    border: none;
}

.task-title{
    font-size: 2.2vh;
}

.remove-task-btn, .remove-project-btn{
    font-size: 1.8vh;
    cursor: pointer;
    color: rgb(202, 202, 202);
    user-select: none;
}

.remove-project-btn{
    font-size: 1.3vh;
}

.remove-task-btn:hover, .remove-project-btn:hover{
    color: white;
}

.add-task-btn{
    height: 5vh;
    width: 25vh;
    display: flex;
    gap: 1.2vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background-color: rgba(49, 49, 49, 0.63);
    font-family: 'cutive mono';
    font-size: 3vh;
    font-weight: 600;
    cursor: pointer;
}

.add-task-btn:hover{
    background-color: rgba(59, 59, 59, 0.63);
}

.plus-icon{
    width: 2.4vh;
}
/*>>>>>>>>>>>>>>>>>>  --------------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  NEW TASK MODAL AND CHILD ELEMENTS   <<<<<<<<<<<<<<<<<<<*/
.add-task-modal{
    border: 2px solid rgb(61, 61, 61);
    position: absolute;
    width: 50%;
    max-width: 60vh;
    height: 60%;
    border-radius: 8px;
    background-color: rgba(77, 77, 78, 0.966);
    top: 20%;
    transition: transform 300ms;
    color: rgb(202, 202, 202);
    font-size: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .8vh;
    user-select: none;
}

.close-modal-btn{
    padding: .4vh .9vh 0 .9vh;
    cursor: pointer;
    font-size: 2.2vh;
}

.close-modal-btn:hover{
    color: white
}

.add-task-modal-form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-task-name-input{
    width: 100%;
    height: 26%;
    font-size: 1.6vh;
    color: black;
    background-color: rgb(207, 207, 207);
}

.new-task-name-input:focus{
    background-color: rgb(240, 240, 240);
}

.add-task-modal-btns{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 1vw;
}

.modal-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    height: 30%;
}

.confirm-new-task-btn, .cancel-new-task-btn{
    width: 100%;
    height: 40%;
    border-radius: 5px;
    font-size: 1.8vh;
    font-weight: 600;
    font-family: 'cutive mono';
    background-color: rgb(27, 143, 27);
    color: white;
    cursor: pointer;
}

.cancel-new-task-btn{
    background-color: rgb(139, 32, 32);  
}

.confirm-new-task-btn:hover{
    background-color: rgb(34, 170, 34);
}

.cancel-new-task-btn:hover{
    background-color: rgb(173, 34, 34);
}
/*>>>>>>>>>>>>>>>>>>  ---------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  FOOTER   <<<<<<<<<<<<<<<<<<<*/
.footer{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4vh;
    min-height: 4vh;
    color: white;
    background-color: rgba(34, 34, 34, 0.842);
}
/*>>>>>>>>>>>>>>>>>>  -------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  SCROLLBAR   <<<<<<<<<<<<<<<<<<<*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(124, 124, 124, 0.418);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
}
/*>>>>>>>>>>>>>>>>>>  -------------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  DATE INPUT   <<<<<<<<<<<<<<<<<<<*/
.task-date, .new-task-date{   
    height: 2vh;
    font-family: 'cutive mono';
    font-size: 1.2vh;
    color: rgb(78, 78, 78);
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 3px;
    padding: 5px;  
    cursor: pointer;
    outline: 0;
}

.new-task-date{
    width: 40%;
    height: 20%;
    font-size: 1.6vh;
}

.task-date:focus, .new-task-date:focus{
    background-color: rgb(240, 240, 240);
}

::-webkit-datetime-edit-text { 
    padding: 0 0.2vh; 
}

.task-date-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    user-select: none;
}

.date-edit-icon{
    height: 1.8vh;
    cursor: pointer;
}

.date-edit-icon:active{
    transform: scale(1.2);
}
/*>>>>>>>>>>>>>>>>>>  --------------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  CUSTOM CLASSES  <<<<<<<<<<<<<<<<<<<*/
.hidden-modal{
    transition: transform 300ms;
    transform: scale(0);
    pointer-events: none;
    user-select: none;
}

.hidden-btn{
    display: none;
    pointer-events: none;
    user-select: none;
}

.hidden-menu{
    transition: transform 300ms;
    transform: translateX(-100%);
    position: absolute;
    pointer-events: none;
    user-select: none;
}

.blur-background{
    filter: blur(3px);
    pointer-events: none
}

.line-through{
    text-decoration: line-through;
    font-style: italic;
    color: rgb(153, 153, 153);
}
/*>>>>>>>>>>>>>>>>>>  ------------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  RESPONSIVENESS   <<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>  MEDIUM (SMALL SCREEN / TABLET)   <<<<<<<<<<<<<<<<<<<*/
@media (30.1rem <= width <= 40rem){
    .logo{
        font-size: 7vw;
    }

    .main{
        flex-direction: column;
        justify-content: space-between;
    }

    .user{
        width: 26vw;
    }

    .user p{
        font-size: 2.2vw;
    }

    #app{
        height: 100%;
    }

    .menu-icon-wrapper{
        display: none;
    }

    .menu-icon-wrapper-mobile{
        display: flex;
        width: 4vh;
        height: 4vh;
    }

    .sidebar{
        display: none;
    }

    .sidebar-mobile{
        display: block;
        width: 100vw;
        max-width: 100vw;
        height: 24vh;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .sidebar-top-wrapper{
        flex-direction: row;
        height: 100%;
    }

    .add-project-btn-wrapper{
        margin: 0;
        height: 100%;
        width: 70%;   
    }

    .add-project-btn, .new-project{
        height: 26%;
        width: 70%;
    }

    .projects-wrapper{
        width: 100%;
        max-height: 100%;
        padding: 4%;
    }

    .projects-title{
        font-size: 2.2vh;
    }

    .projects{
        font-size: 5vw;
        height: 7vw;
    }

    .remove-project-btn{
        font-size: 2.4vw;
    }

    .sidebar-btn{
        width: 35%;
        font-size: 3vw;
    }

    .github, .linkedin, .my-name{
        font-size: 2vw;
    }

    .my-name{
        font-weight: 600;
    }

    .github-icon, .linkedin-icon{
        width: 2vh;
    }

    .hidden-menu{
        transition: transform 300ms;
        transform: translateY(-150%);
    }

    .selected-project-title{
        font-size: 4.2vw;
    }

    .tasks{
        height: 7vw;
    }

    .task-checkbox{
        width: 4vw;
        height: 4vw;
    }

    .task-title{
        font-size: 2.8vw;
    }

    .task-date{
        height: 4vw;
        width: 14vw;
        overflow: hidden;
        font-size: .9vh;
    }

    .modal-input-wrapper p{
        font-size: 3.2vw;
    }

    .new-task-name-input{
        height: 30%;
    }

    .new-task-date{
        width: 50%;
        height: 25%;
        font-size: 2.8vw;
    }

    .date-edit-icon{
        height: 2.2vh;
    }

    .confirm-new-task-btn, .cancel-new-task-btn{
        height: 46%;
    }

    .add-task-modal{
        width: 70%;
        max-width: 70%;
    }

    .remove-task-btn{
        font-size: 2.8vw;
    }

    .add-task-btn{
        height: 7vw;
        width: 36%;
        font-size: 4.4vw;
    }

    .close-modal-btn{
        font-size: 3.6vw;
    }

    .plus-icon{
        width: 3.2vw;
    }

    .add-project-btn-div{
        margin-bottom: 2%;
        height: 7vh;
    }

    .projects-div{
        max-height: 60%;
    }

    .sidebar-footer{
        display: none;
    }

    .footer{
        display: flex;
    }
}
/*>>>>>>>>>>>>>>>>>>  ---------------------   <<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>  SMALL (MOBILE)   <<<<<<<<<<<<<<<<<<<*/
@media(width <= 30.1rem){
    .logo{
        font-size: 8vw;
    }

    .main{
        flex-direction: column;
        justify-content: space-between;
    }

    .user{
        width: 30vw;
    }

    .user p{
        font-size: 2.4vw;
    }

    #app{
        height: 100%;
    }

    .menu-icon-wrapper{
        display: none;
    }

    .menu-icon-wrapper-mobile{
        display: flex;
        width: 4vh;
        height: 4vh;
    }

    .sidebar{
        display: none;
    }

    .sidebar-mobile{
        display: block;
        width: 100vw;
        max-width: 100vw;
        height: 24vh;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .sidebar-top-wrapper{
        flex-direction: row;
        height: 100%;
    }

    .add-project-btn-wrapper{
        margin: 0;
        height: 100%;
        width: 70%;
    }

    .add-project-btn, .new-project{
        height: 26%;
        width: 70%;
    }

    .projects-wrapper{
        width: 100%;
        max-height: 100%;
        padding: 4%;
    }

    .projects-title{
        font-size: 3.2vw;
    }

    .projects{
        font-size: 5vw;
        height: 10vw;
    }

    .remove-project-btn{
        font-size: 4vw;
    }

    .sidebar-btn{
        width: 35%;
        font-size: 3vw;
    }

    .github, .linkedin, .my-name{
        font-size: 2.4vw;
    }

    .my-name{
        font-weight: 600;
    }

    .github-icon, .linkedin-icon{
        width: 2vh;
    }

    .hidden-menu{
        transition: transform 300ms;
        transform: translateY(-130%);
    }

    .selected-project-title{
        font-size: 5vw;
    }

    .tasks{
        height: 8vw;
    }

    .task-checkbox{
        width: 4.8vw;
        height: 4.8vw;
    }

    .task-title{
        font-size: 3.4vw;
    }

    .task-date{
        height: 4vw;
        width: 16vw;
        overflow: hidden;
        font-size: .8vh;
    }

    .modal-input-wrapper p{
        font-size: 4vw;
    }

    .new-task-name-input{
        height: 36%;
    }

    .new-task-date{
        width: 50%;
        height: 25%;
        font-size: 3.6vw;
    }

    .date-edit-icon{
        height: 2.2vh;
    }

    .confirm-new-task-btn, .cancel-new-task-btn{
        height: 54%;
    }

    .add-task-modal{
        width: 100%;
        max-width: 100%;
    }

    .remove-task-btn{
        font-size: 2.8vw;
    }

    .add-task-btn{
        height: 8vw;
        width: 40%;
        font-size: 5vw;
    }

    .close-modal-btn{
        font-size: 5vw;
    }

    .plus-icon{
        width: 3.8vw;
    }

    .add-project-btn-div{
        margin-bottom: 2%;
        height: 7vh;
    }

    .projects-div{
        max-height: 60%;
    }

    .sidebar-footer{
        display: none;
    }

    .footer{
        display: flex;
    }
}
/*>>>>>>>>>>>>>>>>>>  ---------------------   <<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>  ---------------------   <<<<<<<<<<<<<<<<<<<*/